body {
	padding-top:12%;
	background-color: #fff;
	text-align: center;
}

h1	{
	color:#403075;
}

@media only screen and (min-width:  64.063em) {
	body {
		padding-top: 5%;
		text-align: left;
	}


}
